projet_5/flows.json
[{"id":"805b5f49586c779e","type":"tab","label":"projet_5","disabled":false,"info":"","env":[]},{"id":"40d7c5086480bc32","type":"Generic BLE in","z":"805b5f49586c779e","name":"sensor_ble_in","genericBle":"5a497d267aaccb09","useString":false,"notification":true,"x":180,"y":300,"wires":[["4f4cb29823741fe1"]]},{"id":"4f4cb29823741fe1","type":"debug","z":"805b5f49586c779e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":360,"wires":[]},{"id":"f683a37b7a1d2f12","type":"inject","z":"805b5f49586c779e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":180,"wires":[["40d7c5086480bc32"]]},{"id":"5a497d267aaccb09","type":"Generic BLE","localName":"Battery","address":"4d:2d:ba:44:fe:20","uuid":"4d2dba44fe20","characteristics":[{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"2a19","name":"Battery Level","type":"org.bluetooth.characteristic.battery_level","notifiable":true,"readable":true,"writable":true,"writeWithoutResponse":false}]}]