projet_4/flows.json
[{"id":"7279d29b1ad4cdd1","type":"tab","label":"projet_4","disabled":false,"info":"","env":[]},{"id":"41a9468d39042a82","type":"mqtt in","z":"7279d29b1ad4cdd1","name":"","topic":"Projet_4_donnees","qos":"2","datatype":"json","broker":"c8d4b73bc1f3453f","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":120,"wires":[["f41c5194b84ac946"]]},{"id":"f41c5194b84ac946","type":"switch","z":"7279d29b1ad4cdd1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":120,"wires":[["254f683646969375","c2cd75ac771d0787","f5d2248c83044bcc"]]},{"id":"254f683646969375","type":"change","z":"7279d29b1ad4cdd1","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[["aac0c4774c900f84"]]},{"id":"c2cd75ac771d0787","type":"change","z":"7279d29b1ad4cdd1","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":120,"wires":[["42cb1ce8c91bcb24"]]},{"id":"f5d2248c83044bcc","type":"change","z":"7279d29b1ad4cdd1","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":180,"wires":[["8216155dfa2cfd01"]]},{"id":"aac0c4774c900f84","type":"smooth","z":"7279d29b1ad4cdd1","name":"","property":"payload","action":"mean","count":"10","round":"2","mult":"single","reduce":false,"x":600,"y":60,"wires":[["c7724f5860147ae3","55e1b7f33d36f4c0"]]},{"id":"42cb1ce8c91bcb24","type":"smooth","z":"7279d29b1ad4cdd1","name":"","property":"payload","action":"mean","count":"10","round":"0","mult":"single","reduce":false,"x":600,"y":120,"wires":[["4139285c4ccd8ffb","abc49ebee3b7c57b"]]},{"id":"8216155dfa2cfd01","type":"smooth","z":"7279d29b1ad4cdd1","name":"","property":"payload","action":"mean","count":"10","round":"0","mult":"single","reduce":false,"x":600,"y":180,"wires":[["78f3708e8bc195f3","8aa31e18954453b9"]]},{"id":"c7724f5860147ae3","type":"ui_chart","z":"7279d29b1ad4cdd1","name":"","group":"07f0a528eee1cf02","order":0,"width":0,"height":0,"label":"Temperature Ambiante","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"-50","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":800,"y":60,"wires":[[]]},{"id":"4139285c4ccd8ffb","type":"ui_gauge","z":"7279d29b1ad4cdd1","name":"","group":"07f0a528eee1cf02","order":1,"width":0,"height":0,"gtype":"wave","title":"Humidite","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"50","className":"","x":760,"y":120,"wires":[]},{"id":"78f3708e8bc195f3","type":"ui_gauge","z":"7279d29b1ad4cdd1","name":"","group":"07f0a528eee1cf02","order":2,"width":0,"height":0,"gtype":"gage","title":"Pression Atmospherique","label":"units","format":"{{value}}","min":"700","max":"1300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":810,"y":180,"wires":[]},{"id":"e9d480cc1e6fb164","type":"mqtt out","z":"7279d29b1ad4cdd1","name":"","topic":"Projet_4_message","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c8d4b73bc1f3453f","x":1190,"y":300,"wires":[]},{"id":"55e1b7f33d36f4c0","type":"string","z":"7279d29b1ad4cdd1","name":"Temperature","methods":[{"name":"toString","params":[]},{"name":"prepend","params":[{"type":"str","value":"Temperature : "}]},{"name":"append","params":[{"type":"str","value":" C"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":850,"y":240,"wires":[["2459f18f8d129484"]]},{"id":"abc49ebee3b7c57b","type":"string","z":"7279d29b1ad4cdd1","name":"Humidity","methods":[{"name":"toString","params":[]},{"name":"prepend","params":[{"type":"str","value":", humidite : "}]},{"name":"append","params":[{"type":"str","value":"%"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":840,"y":300,"wires":[["2459f18f8d129484"]]},{"id":"8aa31e18954453b9","type":"string","z":"7279d29b1ad4cdd1","name":"Pressure","methods":[{"name":"toString","params":[]},{"name":"append","params":[{"type":"str","value":"hPa."}]},{"name":"prepend","params":[{"type":"str","value":", pression : "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":840,"y":360,"wires":[["2459f18f8d129484"]]},{"id":"2459f18f8d129484","type":"join","z":"7279d29b1ad4cdd1","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":300,"wires":[["e9d480cc1e6fb164"]]},{"id":"c8d4b73bc1f3453f","type":"mqtt-broker","name":"RPI_Alex","broker":"192.168.61.157","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"07f0a528eee1cf02","type":"ui_group","name":"projet_4","tab":"7717691862f50834","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7717691862f50834","type":"ui_tab","name":"projet_4","icon":"dashboard","disabled":false,"hidden":false}]